.app {
  text-align: center;
}

.title {
  height: 1px;
  width: 500px;
  margin: auto;
  padding-top: 150px;
  overflow: hidden;
  background-image: url('images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.characters-list {
  list-style: none;
}

.character-card {
  background-color: cyan;
  width: 300px;
  color: white;
}

