.app {
  text-align: center;
}

.title {
  height: 1px;
  width: 500px;
  margin: auto;
  padding-top: 150px;
  overflow: hidden;
  background-image: url('images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.characters-list {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.character {
  display:flex;
  justify-content: center;
  text-align: center;
}

.character-card {
  background-color: #36B0C7;
  width: 200px;
  color: white;
  text-align: left;
  line-height: 20px;
}

.character-img {
  width: 200px;
}

.character-link {
  text-decoration: none;
}

.character-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.character-info {
  background-color: #36B0C7;
  color: white;
  display: flex;
  width: 650px;
}

.info {
  padding: 30px;
  text-align: left;
  line-height: 5px;
}

.app__back {
  color: white;
  padding-left: 600px;
  padding-bottom: 5px;
  text-decoration: none;
}

.userInput {
  margin-top: 10px;
  background-color: black;
  color: #36B0C7;
  border: 2px solid #36B0C7;
  width: 200px;
  box-shadow: 0 0 10px gold;
}

.input {
  color: white;
}

.app__filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}