.app {
  text-align: center;
}

.title {
  height: 1px;
  width: 500px;
  margin: auto;
  padding-top: 150px;
  overflow: hidden;
  background-image: url('images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.characters-list {
  list-style: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.character {
  display:flex;
  justify-content: center;
  text-align: center;
}

.character-card {
  background-color: #36B0C7;
  width: 200px;
  color: white;
  text-align: left;
  line-height: 20px;
}

.character-img {
  width: 200px;
}

.character-link {
  text-decoration: none;
}